.sevices-login-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 15px;
}

.sevice-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 48px;
    border-radius: 6px;
    border: 1.2px  #D3D8DC solid;
    background-color: #fff;
    cursor: pointer;
    .sevice-btn__img {
        padding-right: 20px;
        img {
           width: 20px;
           height: 20px; 
        }
        
    }
}