.content-btn {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    
    cursor: pointer;
}

.primary-btn {
    background-color: #316FEA;
    color: #fff;
    border: 0;
}

.secondary-btn {
    background-color: #fff;
    border: 1px solid #D3D8DC;
}